-r requirements.txt

# Testing
pytest
pytest-cov
pytest-mock

# Linting and Formatting
black
flake8
isort
mypy
pylint
pre-commit

# Development Tools
ipykernel
jupyter
ipython

# Documentation
sphinx
sphinx-rtd-theme

# Debugging
ipdb
